__pycache__/
.idea
venv
.venv
/volumes
.vscode/settings.json
.vscode/tasks.json
*.swp
.env
.env.example
.env.local
.env.local.example
.env.test
.env.test.example
.env.production
.env.production.example
.env.staging
.env.staging.example